{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block page_content %}
<h2 id="content-title">Current games:</h2>
    {% if current_user.is_authenticated %} 
    <div><a href="/game">New game</a></div>
    {% endif %}
    <h3 id=content-title> Games waiting for opponent </h3>
    {% for key in w_games %}
        <div><a href="/game/{{key}}">{{key}}</a></div>
    {% endfor %}
    <h3 id=content-title> Active Games </h3>
    {% for key in a_games %}
        <div><a href="/game/{{key}}">{{key}}</a></div>
    {% endfor %}

{% endblock page_content %}
