<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block title %}Home{% endblock %}</title>
    <script src="{{ url_for('main.static', filename='libs/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('main.static', filename='libs/socket.io.js')}}"></script>
    {% block page_headers %}

    {% endblock page_headers %}
</head>
<body>
    {# header #}
    <h1 id="header-title">{{self.title()}}</h1>
    <ul id="navigation">
        {% if current_user.is_authenticated %}
        <li> hello {{current_user.username}} </li>
        <li><a href="/logout">Log out</a></li>
        {% else %}
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}

    </ul>

    {# content #}
    {% block page_content %}
        <h1 id="content-title">{{self.title()}}</h1>
        Welcome to KFChess
    {% endblock page_content %}

    {# footer #}
    <h1>{{self.title()}}</h1>

</body>
</html>
