<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block title %}Home{% endblock %}</title>
    <script src="{{ url_for('main.static', filename='libs/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('main.static', filename='libs/socket.io.js')}}"></script>
    {% block page_headers %}

    {% endblock page_headers %}
</head>
<body>
    {# header #}
    <h1>{{self.title()}}</h1>
    <ul id="navigation">
    </ul>

    {# content #}
    {% block page_content %}
        Welcome to KFChess
    {% endblock page_content %}

    {# footer #}
    <h1>{{self.title()}}</h1>

</body>
</html>